:root {
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }


a {
    text-decoration: none;
    color: var(--black);
}

body{
    margin: 0;
    padding: 0px;
    font-family: 'Righteous', cursive;
}
h1 {
    text-align: center;
}
header{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    
}
nav a {
    color: var(--white);
    
}
nav{
    position: sticky;
    top: 0;
    z-index: 100;
    display:flex;
    margin: 0px;
    padding: 0px;
    background-color: black;
    width: 100%;
    height: 10%;
    

}

.jesus {
    display: flex;
    width: 20%;
    font-size: 30px;
    margin: 0;
    height: 100%;
    margin-left: 20px;
    align-items: center;
}



li {
    color: white;
    list-style: none; 
    margin-left: 20px;
    margin-right: 20PX;
    font-size: var(--lg);
}
ol{
    width: 80%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.fondocosmico{
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url("/images/greg-rakozy-oMpAz-DN-9I-unsplash.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: var(--black);
    background-position: center; 
}
.fondocosmico img{
    margin-left:2%;
    height: 400px;
    width: 400px;
    border-radius: 0% 0% 45% 30%;
    
}

